<div class="modal" id="create-static" *ngIf="!hidden">
    <div class="modal-card">
        <div class="modal-text">
            <i class="fas fa-times text-gray float-right mouse-pointer" (click)="hideModal()"></i>

            <label for="name" class="float-left text-gray">Name</label>
            <input type="text" id="name" class="form-control" placeholder="my-new-server" [(ngModel)]="name">

            <label for="memory" class="float-left text-gray mt-2">Memory (MB)</label>
            <input type="text" id="memory" class="form-control" placeholder="1024" [(ngModel)]="memory">

            <label for="version" class="float-left text-gray mt-2">Version</label>
            <select id="version" class="form-control form-control-lg" [(ngModel)]="version">
                <option *ngFor="let i of versions" value="{{ i }}">Paper {{ i }}</option>
            </select>
        </div>
        <button class="btn-modal" (click)="create()" [disabled]="loading">Create</button>
    </div>
</div>
