<aside class="main-sidebar sidebar-dark-primary">
    <div class="sidebar">
        <div class="mt-2">
            <h3 class="text-center text-white">Cloud</h3>
            <button class="btn btn-primary btn-sm" (click)="logout()">logout</button>
        </div>
        <nav class="mt-4">
            <ul class="nav nav-pills nav-sidebar flex-column">
                <li class="nav-item">
                    <a routerLink="dashboard" routerLinkActive="active" class="nav-link mouse-pointer">
                        <i class="nav-icon fab fa-angellist"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-header">Management</li>
                <li class="nav-item">
                    <a routerLink="manage/proxy" routerLinkActive="active" class="nav-link mouse-pointer">
                        <i class="nav-icon fas fa-project-diagram"></i>
                        <p>Proxy</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="manage/static" routerLinkActive="active" class="nav-link mouse-pointer">
                        <i class="nav-icon fas fa-server"></i>
                        <p>Static</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
