@import "~bootstrap/scss/bootstrap";

$primary-dark: #1c1c1c;
$primary-light: #ffffff;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #141414;
}

.content {
  margin-left: 250px;
  padding: 1px 16px;
}

.text-white {
  color: $primary-light;
}

.card-body {
  border-radius: 3px;
  color: $primary-light;
  background-color: $primary-dark;
  box-shadow: 0 1px 1px var(--color-shadow);
}
