<div class="content">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 mt-5">
            <div class="text-center" *ngIf="!showProxy">
                <h3 class="text-danger">No proxies found</h3>
                <h5 class="text-gray">There are no proxy servers on your system.<br> Do you want to install a new one?</h5>
                <button class="btn btn-primary mt-5" (click)="install('default')" [disabled]="loading">Start installation</button>
            </div>
            <div class="card card-body row" *ngIf="showProxy">
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary" (click)="stopProxy('default')" *ngIf="proxy.state.status == 'running'" [disabled]="loading">
                        Stop <span class="badge badge-light ml-3">{{proxy.state.status}}</span>
                    </button>
                    <button type="button" class="btn btn-primary" (click)="startProxy('default')" *ngIf="proxy.state.status != 'running'" [disabled]="loading">
                        Start <span class="badge badge-light ml-3">{{proxy.state.status}}</span>
                    </button>
                </div>
            </div>
            <div class="card card-body row console" *ngIf="showProxy">
                <div class="col-lg-12">
                    <p class="console-item text-gray" *ngFor="let i of consoleLog">{{ i }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

